* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.8;
    margin: 0;
}

.topbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .topbar__nav {
        padding: 31px 87px;

        .topbar__nav__a {
            padding: 0 53px;
            text-decoration: none;
            color: #9F9F9F;
            font-weight: 500;

            &:hover,
            &.active {
                color: #000;
            }
        }
    }

    .topbar__social {
        .topbar__social__a {
            margin: 0 12px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }


    }
}

.baniere {
    height: 467px;
    background: url("assets/header.jpg") center center / cover no-repeat;
}
.body{
    display:flex;
    align-items: center;
    .main{
        background-color: gray;
    }
    .sidebar{
        background-color: lightgray;
    }
}
