* {
    box-sizing: border-box;
}

$link-color:#9F9F9F;

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.6;
    margin: 0;
}

.topbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .topbar__nav {
        padding: 31px 87px;

        a {
            padding: 0 53px;
            text-decoration: none;
            color: $link-color;
            font-weight: 500;

            &:hover,
            &.active {
                color: #000;
            }
        }
    }

    .topbar__social {
        a {
            margin: 0 12px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }


    }
}

.baniere {
    height: 467px;
    background: url("assets/header.jpg") center center / cover no-repeat;
}

.body {
    display: flex;
    align-items: center;

    .main {
        background-color: #FFF;
        width: calc(100% - 375px);
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 30px rgba(0,0,0,0.05);
        z-index:2;


    }

    .sidebar {
        z-index:1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        height: 200px;
        background-color: #FBFBFB;
        width: 375px;

        &:first-child {
            margin-top: 0;
        }

        hr {
            width: 281px;
            height: 1px;
            border-color: #c4c4c4;
            margin: 50px 0;
        }

        .sidebar__title {
            font-size: 30px;
            color: #000;
            margin: 15px 0;
        }

        .sidebar__ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: justify;
            font-size: 17px;

            &:first-child {
                padding-top: 0
            }

            &:last-child {
                padding-bottom: 0
            }

            li {
                padding: 6px 0;
            }


            a {
                text-decoration: none;
                color: $link-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
