*{
    box-sizing:border-box;
}
body{
    font-size:16px;
    font-family:"Montserrat",sans-serif;
    color:rgba(0,0,0,.87);
    line-height:1.8;
}
.topbar {
    background-color:white;
    position:fixed;
    nav{
        float:left;
    }

    .social {
        float:right;
    }
}
